@media screen and (min-width: 600px) {
    h2 {
        text-align:center;
        font-size: 30px;
    }
    p, a{
        font-size: 20px;
    }
    html{
        text-align: center;
    }
    div.links p{
        white-space: nowrap;
        display:inline-block;
        size:100%;
    }
    #result{
        font-size: 21px;
    }
    button{
        font-size: 20px;
        color: green;
        margin-top: 10px;
    }
    select,input{
        font-size: 15px;
    }
    
}@media screen and (max-width: 600px) {
    h2 {
        text-align:center;
        font-size: 50px;
        width: 100%;
    }
    p{
        font-size: 30px;
        width:100%
    }
    html{
        text-align: center;
    }
    div.links p{
        position: relative;
        font-size: 20px;
    }
    #result{
        font-size: 69px;
    }
    button{
        font-size: 35px;
        color: green;
        margin-top: 10px;
    }
    select,input{
        font-size: 25px;
    }
}
.links {
    background-color: grey;
    padding: 5px;
    border: 5px solid #243c54;
    margin: 5px;
}
div.links{
    top: 0;
    position: -webkit-sticky; 
    position: sticky;
    display: flex;
}
a:link,a:visited,a:hover,a:active {
    color: #243c54;
}
body{
    background-color: black;
}
h2,div,button,input,h3,body p{
    color: green;
}