body{
    background-color: black;
}
h2{
    color: green;
}
div, input, p{
    color: green;
}
button{
    color: green;
    margin-top: 10px;
}
html{
    text-align: center;
}
.links {
    top: 0;
    position: -webkit-sticky; 
    position: sticky;
    background-color: grey;
    padding: 5px;
    border: 5px solid #243c54;
    margin: 5px;
}
p.links{
    white-space: nowrap;
    display:inline-block;
    size:100%;
}
a:link,a:visited,a:hover,a:active {
    color: #243c54;
}