div.fav_projs{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

div.fav_projs div.slant div{
    margin: 0;
    padding: 30px;
    background-color: #243c54;
}

div.fav_projs h2{
    text-align: center;
    font-size: 100;
}

div.fav_projs div.slant h4{
    text-align: center;
    font-size: 40px;
    color: #243c54;
    padding: 50px;
    margin: 0;
    background-color: grey;
}
div.fav_projs div.slant p{
    text-align: center;
    font-size: 20px;
    color: #243c54;
    margin: 0;
    background-color: grey;
}
div.fav_projs div.slant:before{
    content: "";
    display: block;
    width: auto;
    height: 220px;
    background: linear-gradient(to bottom left,#617d88 0%,#617d88 50%, #243c54 50%, #243c54 100%)
}
div.fav_projs div.slant:after{
    content: "";
    display: block;
    width: auto;
    height: 220px;
    background: linear-gradient(to top right,#617d88 0%,#617d88 50%, #243c54 50%, #243c54 100%)
}

@media screen and (min-width: 600px) {
    h1 {
        text-align:center;
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
    html{
        text-align: center;
    }
    div.links p{
        white-space: nowrap;
        display:inline-block;
        size:100%;
    }
    div.columns{
        margin:auto;
        float:left;
        height:auto;
        width:30.3333333333333%;
        margin-right: 3px;
    }
    div.columns p{
        font-size: 100%;
    }
}
@media screen and (max-width: 600px) {
    h1 {
        text-align:center;
        font-size: 50px;
        width: 100%;
    }
    p{
        font-size: 30px;
        width:100%
    }
    p#greeting {
        font-size: 20px;
    }
    html{
        text-align: center;
    }
    div.links p{
        position: relative;
        font-size: 20px;
    }
    div.columns{
        margin:auto;
        height:auto;
        width:100%;
    }
    div.columns p{
        font-size: 100%;
    }
}
a:link,a:visited,a:hover,a:active {
    color: #243c54;
}
html{
    background-color: #617d88;
}
h1, h2, h3, p, form, ul {
    color:#f4dcbb;
}
p#greeting {
    display: flex;
}
.links {
    background-color: grey;
    padding: 5px;
    border: 5px solid #243c54;
    margin: 5px;
}
div.links{
    top: 0;
    position: -webkit-sticky; 
    position: sticky;
    display: flex;
}