#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
html{
    background-color: lightgray;
}

@media screen and (min-height: 800px) {
    #scoreText{
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        font-size: 100px;
    }
    #resetBtn{
        font-family: "Permanent Marker", cursive;
        font-size: 30px;
        width: 100px;
        height: 50px;
        border: 4px solid;
        border-radius: 15px;
        cursor: pointer;
    }
}
@media screen and (max-height: 800px) {
    #scoreText{
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        font-size: 80px;
    }
    #resetBtn{
        font-family: "Permanent Marker", cursive;
        font-size: 20px;
        width: 80px;
        height: 40px;
        border: 4px solid;
        border-radius: 15px;
        cursor: pointer;
    }
}