a:visited,a:link,a:active{
  color: black;
}
a:hover{
  color: blue;
}
p{
  font-size: 1.5rem;
}
html{
  background-color: aliceblue;
}
h1{
  
}
h3{
  font-size: 5rem;
}
li{
  font-size: 1.2rem;
}
href{
  
}
.downloadable{
  color: red;
}
