a:visited,a:link,a:active{
  color: black;
}

a:hover{
  color: blue;
}

p{
  font-size: 1.5rem;
}

html{
  background-color: aliceblue;
}

h3{
  font-size: 5rem;
}

li{
  font-size: 1.2rem;
}

.downloadable{
  color: red;
}

hr{
  border-width: 2px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid #243c54;
  padding: 20px;
  background-color:azure;
}

.flex-item{
  flex: 14%;
}

/* Responsive layout - makes a one column layout (100%) */
@media (max-width: 800px) {
  .flex-item{
    flex: 100%;
  }
}

.image-box {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}